@model IEnumerable<WebApplication1.Models.ViewModels.Kitap.KitapListeViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ad)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Fiyat)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ozet)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SayfaSayisi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KullaniciAdi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.KategoriAdlari)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ad)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Fiyat)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ozet)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SayfaSayisi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.KullaniciAdi)
				</td>
				<td>
					@if (item.KategoriAdlari != null && item.KategoriAdlari.Any())
					{
						@string.Join(", ", item.KategoriAdlari)
					}
					else
					{
						<span>(Kategori Yok)</span>
					}
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detay</a>
					<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Düzenle</a>

					<form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline" onsubmit="return confirm('Bu kitabı silmek istediğinize emin misiniz?');">
						<input type="hidden" name="id" value="@item.Id" />
						<button type="submit" class="btn btn-danger btn-sm">Sil</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
