@model List<KitapProje.Models.ViewModels.KitapViewModels.KitapListeleVM>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Ad</th>
            <th scope="col">Ozet</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Sayfa Sayısı</th>
            <th scope="col">User Name</th>
            <th scope="col">Kategoriler</th>
            <th scope="col">İşlemler</th>


        </tr>
    </thead>
    <tbody>
        @foreach(var kitap in Model)
        {
            <tr>
                <th scope="row">@kitap.Id</th>
                <td>@kitap.Ad</td>
                <td>@kitap.Ozet</td>
                <td>@kitap.Fiyat</td>
                <td>@kitap.SayfaSayisi</td>
                <td>@kitap.UserName</td>
                <td>
                    @foreach (var kategori in kitap.Kategoriler)
                    {
                        @kategori
                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Details", asp-controller="Home" asp-route-id="@kitap.Id" class="btn btn-primary">Detay</a>
                </td>
            </tr>
        }
    

    </tbody>
</table>

