@model KitapProje.Models.ViewModels.KitapViewModels.KitapGuncelleFormVM

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KitapGuncelleVM</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<input asp-for="Kitap.Id" class="form-control" type="hidden" />
				<span asp-validation-for="Kitap.Id" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Kitap.Ad" class="control-label"></label>
				<input asp-for="Kitap.Ad" class="form-control" />
				<span asp-validation-for="Kitap.Ad" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Kitap.Fiyat" class="control-label"></label>
				<input asp-for="Kitap.Fiyat" class="form-control" />
				<span asp-validation-for="Kitap.Fiyat" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Kitap.Ozet" class="control-label"></label>
				<input asp-for="Kitap.Ozet" class="form-control" />
				<span asp-validation-for="Kitap.Ozet" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Kitap.SayfaSayisi" class="control-label"></label>
				<input asp-for="Kitap.SayfaSayisi" class="form-control" />
				<span asp-validation-for="Kitap.SayfaSayisi" class="text-danger"></span>
			</div>


@* 
			<div class="form-group">
				<label asp-for="Kitap.KategoriIdleri" class="control-label"></label>
				<br />
				@foreach (var kategori in Model.KategorilerList)
				{
					<input class="form-check-input" type="checkbox" name="Kitap.KategoriIdleri" value="@kategori.Id" />
					<label>@kategori.Ad</label>
					<br />
				}
				<span asp-validation-for="Kitap.KategoriIdleri" class="text-danger"></span>
			</div>
 *@
			<div class="form-group">
				<label asp-for="Kitap.KategoriIdleri" class="control-label"></label>
				<br />
				@foreach (var kategori in Model.KategorilerList)
				{
					bool isChecked = Model.Kitap.KategoriIdleri?.Contains(kategori.Id) ?? false;
					<input asp-for="@isChecked"
						   class="form-check-input"
						   type="checkbox"
						   name="Kitap.KategoriIdleri"
						   value="@kategori.Id" />
					<label>@kategori.Ad</label>
					<br />
				}
				<span asp-validation-for="Kitap.KategoriIdleri" class="text-danger"></span>
			</div>




			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
